@model IEnumerable<Cblog.Service.FormattedPost>
@{
    ViewBag.Title = "Index";
    ViewBag.NgApp = "home";
}

@foreach (var post in Model)
{
<article>  
    <h2>@Html.ActionLink(post.Title, "blog", new { slug = post.Slug} )</h2>
    @Html.Raw(post.Content)
    <address>Posted by @post.Author at @post.Date</address>
</article>
}
