@model IEnumerable<Cblog.Service.FormattedPost>
@{
    ViewBag.Title = "Index";
    ViewBag.NgApp = "home";
}

<h2>Posts</h2>

@foreach (var post in Model)
{
<article>  
    <h1>@Html.ActionLink(post.Title, "blog", new { id = post.Id } )</h1>
    <div>Posted by @post.Author at @post.Date</div>
    @Html.Raw(post.Content)
</article>
}
