@{
    Layout = null;
}

<div ng-repeat="post in posts | orderBy:'CreatedAt':reverse=true">
    <h3><a href="#/blog/{{post.PostId}}">{{post.Title}}</a></h3>
    <div>{{post.Content}}</div>
    <div>Posted at {{post.CreatedAt}}</div>
</div>
