                <ul >
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
@if(this.User.IsInRole("admin")) {
                    <li>@Html.ActionLink("PostAdmin", "Index", "PostAdmin")</li>
}
                </ul>